<header>
	<img src="images/gulagula.png" alt="Restaurante Gula Gula">
	<h1>Executivos Gula Gula</h1>
</header>
<div class="cmd-box">
	<span id="total-selected">3</span>
	<a href="#" class="remove-selected">Remover selecionados</a>
	<a href="#" class="cancel-action">Cancelar</a>
</div>

<ul class="category-product">
	<li class="menu-item">
		<div>
			<img alt="Imagem ilustrativa: Filé com arroz e enrladinho de queijo..." src="http://images.onyo.com/yt5ZzppwVwZlKWbMKAHNUCYTz3E=/0x0:471x402/fit-in/471x402/https://onyo.s3.amazonaws.com/picture/5e39df0eb2384033948f47aad2df613d.jpg" />
			<h3 class="name">
				<span class="cmd-box">
					<a href="#" class="remove-selected">Remover</a>
					<a href="#" class="append-product">Adicionar produto</a>
				</span>
				Filé de Tilápia
			</h3>
			<span class="price">30.</span>
		</div>
		<ul class="composition">
			<li>
				<div class="cmd-box">
					<a href="#" role=button class="cmd-add" role=title>Café ou sobremesa</a>
					<a href="#" class="remove-selected">Remover</a>
				</div>
			
				<ul class="composition">
					<li><a href="#" role=button>213006 MOUSSE CHOC  EXEC</a></li>
					<li><a href="#" role=button>Café Danza</a></li>
					<li><a href="#" role=button>Sobremesa do dia</a></li>
					<li><a href="#" role=button>Cheesecake de Goiabada</a></li>
					<li><a href="#" role=button>Mousse de maracujá</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="choosable">
		<div>
			<img alt="Imagem ilustrativa: Filé com arroz e enrladinho de queijo..." src="http://images.onyo.com/O8lryd636vAzVriPDQzAvm5koaU=/0x0:780x780/fit-in/780x780/https://onyo.s3.amazonaws.com/picture/1fc60a23c268407fb3a6de898361b9e9.jpg","width":780,"context":"product-detail" />
			<h3 class="name">
				<span class="cmd-box">
					<a href="#" class="remove-selected">Remover</a>
					<a href="#" class="append-product">Adicionar produto</a>
				</span>
				Torta ou quiche
			</h3>
			<span class="price">30.</span>
		</div>
		<ul class="composition">
			<li><a href="#" role=button>Sobremesa do dia</a></li>
			<li><a href="#" role=button>Café Danza</a></li>
		</ul>
	</li>
</ul>